{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <section>
        <img src="{{ asset('images/blank-profile-picture-973460_1280.png') }}" alt="">
        <div>
            <h2>Développeuse Web Passionnée</h2>
            <p>Je suis étudiante en développement web et application, passionnée par la création de solutions innovantes et l'amélioration de l'expérience utilisateur.</p>
            <a href="{{ asset('Doc/cv-maeva.pdf') }}" download class="cv-button"  :style="isDarkMode ? 'background-color: #6a4c7a; color: #f2cbd4;' : 'background-color: #d9abf1; color: black;'">Télécharger mon CV</a>
        <div>
    </section>
    <section id="about">
        <h2>À Propos de Moi</h2>
        <p>
            Je m'appelle Maëva et je suis actuellement en 2e année de développement web et application. Mon intérêt pour la technologie a débuté par hasard lorsque je suis tombée sur une formation pour apprendre à créer des sites WordPress. C'est à partir de ce moment-là que j'ai voulu en savoir davantage sur la création de sites internet et que j'ai découvert la programmation.<br>
            J'adore apprendre et découvrir de nouvelles technologies, ce qui me pousse à m'améliorer constamment.
            En dehors du développement, je suis passionnée par la couture, la moto et le sport.
        </p>
    </section>
    <section id="skils">
        <h2>Mes compétences</h2>
        <p>Voici un aperçu des technologies et outils que j'ai appris à utiliser.</p>
        <div x-data="{ tab: 1, activeButton: 1 }">
            <button @click="tab = 1,activeButton = 1 " :style="isDarkMode ? 'background-color: #6a4c7a; color: #f2cbd4;' : 'background-color: #d9abf1; color: black;'" :class="activeButton === 1 ? 'active' : 'default'">Front-end</button>
            <button @click="tab = 2, activeButton = 2" :style="isDarkMode ? 'background-color: #6a4c7a; color: #f2cbd4;' : 'background-color: #d9abf1; color: black;'" :class="activeButton === 2 ? 'active' : 'default'">Back-end</button>
            <button @click="tab = 3, activeButton = 3" :style="isDarkMode ? 'background-color: #6a4c7a; color: #f2cbd4;' : 'background-color: #d9abf1; color: black;'" :class="activeButton === 3 ? 'active' : 'default'">Autre</button>

            <template x-if="tab === 1" >
             <!--   {% for realisation in realisations %}
                    {% if realisation.categorie.nom == 'Front-end' %}
                    <article :style="isDarkMode ? 'background-color: #6a4c7a; color: #f2cbd4;' : 'background-color: #d9abf1; color: black;'">
                    <img src="{{ asset('images/' ~ realisation.image) }}" alt="">
                    <div>
                        <h3>{{ realisation.titre }}</h3>
                        <p>{{ realisation.description }}</p>
                    </div>
                    </article>
                    {% endif %}
                {% endfor %}
            </template>

            <template x-if="tab === 2">
                {% for competence in competences %}
                    {% if competence.categorie.nom == 'Back-end' %}
                    <article :style="isDarkMode ? 'background-color: #6a4c7a; color: #f2cbd4;' : 'background-color: #d9abf1; color: black;'">
                    <img src="{{ asset('images/' ~ competence.image) }}" alt="">
                    <div>
                        <h3>{{ competence.titre }}</h3>
                        <p>{{ competence.description }}</p>
                    </div>
                    </article>
                    {% endif %}
                {% endfor %}
            </template>

            <template x-if="tab === 3">
                {% for competence in competences %}
                    {% if competence.categorie.nom == 'Autre' %}
                    <article :style="isDarkMode ? 'background-color: #6a4c7a; color: #f2cbd4;' : 'background-color: #d9abf1; color: black;'">
                    <img src="{{ asset('images/' ~ competence.image) }}" alt="">
                    <div>
                        <h3>{{ competence.titre }}</h3>
                        <p>{{ competence.description }}</p>
                    </div>
                    </article>
                    {% endif %}
                {% endfor %}
            </template>
        </div>
    </section> -->
</main>
{% endblock %}
