{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <section>
        <img src="{{ asset('images/blank-profile-picture-973460_1280.png') }}" alt="">
        <div>
            <h2>Développeuse Web Passionnée</h2>
            <p>Je suis étudiante en développement web et application, passionnée par la création de solutions innovantes et l'amélioration de l'expérience utilisateur.</p>
            <a href="{{ asset('Doc/cv-maeva.pdf') }}" download class="cv-button"  :style="isDarkMode ? 'background-color: #6a4c7a; color: #f2cbd4;' : 'background-color: #d9abf1; color: black;'">Télécharger mon CV</a>
        <div>
    </section>
    <section id="about">
        <h2>À Propos de Moi</h2>
        <p>
            Je suis passionnée par le développement web, une passion que j'ai découverte par hasard en tombant sur une formation pour créer des sites WordPress. J'y ai pris goût et j'ai voulu approfondir mes connaissances en explorant le cœur de chaque bloc.
            <br>
            <br>
            Actuellement, je suis en 2e année de développement web et application à l'Efrei. J'ai suivi des formations sur la création de sites WordPress ainsi que sur le SEO, ce qui m'a permis de mieux comprendre les enjeux du web.
            <br>
            <br>
            Mes compétences principales se situent dans le front-end, mais j'apprécie également le back-end, un domaine que je trouve particulièrement intéressant. En ce moment, j'utilise le framework Symfony pour mes projets.
            <br>
            <br>
            À court terme, je cherche une alternance et un stage de fin d'année pour mettre en pratique mes connaissances. À long terme, mon objectif est de devenir développeuse web en Angleterre, un pays qui m'attire particulièrement.
            <br>
            <br>
            Je suis une personne qui apprécie le travail en équipe et je n'ai pas de mal à établir le contact avec les autres. Je ne suis pas timide et j'ai une facilité à comprendre de nouvelles choses. En dehors de la programmation, mes passions incluent la moto, la couture et la musculation.
        </p>
    </section>
    <section id="skills">
        <h2>Mes Réalisations</h2>
        <p>Voici un aperçu des projets que j'ai réalisés, mettant en avant les technologies et outils que j'ai appris à utiliser.</p>
        <span x-data="{ tab: 1, activeButton: 1 }">
            <button @click="tab = 1,activeButton = 1 " :style="isDarkMode ? 'background-color: #6a4c7a; color: #f2cbd4;' : 'background-color: #d9abf1; color: black;'" :class="activeButton === 1 ? 'active' : 'default'">Front-end</button>
            <button @click="tab = 2, activeButton = 2" :style="isDarkMode ? 'background-color: #6a4c7a; color: #f2cbd4;' : 'background-color: #d9abf1; color: black;'" :class="activeButton === 2 ? 'active' : 'default'">Back-end</button>
            <button @click="tab = 3, activeButton = 3" :style="isDarkMode ? 'background-color: #6a4c7a; color: #f2cbd4;' : 'background-color: #d9abf1; color: black;'" :class="activeButton === 3 ? 'active' : 'default'">Autre</button>

            <template x-if="tab === 1" >
               {% for realisation in realisations %}
                    {% if realisation.Categorie.id == 1 %}
                    <article :class="['article', isDarkMode ? 'dark' : 'light']">
                        <img src="{{ asset('images/' ~ realisation.image) }}" alt="">
                        <div>
                            <h3>{{ realisation.titre }}</h3>
                            <a href="{{ realisation.LienGithub }}" target="_blank">Voir le site</a>
                            <p>technologie utiliser -> {{ realisation.TechnoUse }}</p>
                            <hr>
                            <p>{{ realisation.description }}</p>
                        </div>
                    </article>
                    {% endif %}
                {% endfor %}
            </template>

            <template x-if="tab === 2" >
               {% for realisation in realisations %}
                    {% if realisation.Categorie.id == 2 %}
                    <article :class="['article', isDarkMode ? 'dark' : 'light']">
                        <img src="{{ asset('images/' ~ realisation.image) }}" alt="">
                        <div>
                            <h3>{{ realisation.titre }}</h3>
                            <a href="{{ realisation.LienGithub }}" target="_blank" :class="['nav-link', isDarkMode ? 'dark' : 'light']">Voir le site</a>
                            <p>technologie utiliser -> {{ realisation.TechnoUse }}</p>
                            <hr>
                            <p>{{ realisation.description }}</p>
                        </div>
                    </article>
                    {% endif %}
                {% endfor %}
            </template>

            <template x-if="tab === 3" >
               {% for realisation in realisations %}
                    {% if realisation.Categorie.id == 3 %}
                    <article :class="['article', isDarkMode ? 'dark' : 'light']">
                        <img src="{{ asset('images/' ~ realisation.image) }}" alt="">
                        <div>
                            <h3>{{ realisation.titre }}</h3>
                            <a href="{{ realisation.LienGithub }}" target="_blank">Voir le site</a>
                            <p>technologie utiliser -> {{ realisation.TechnoUse }}</p>
                            <hr>
                            <p>{{ realisation.description }}</p>
                        </div>
                    </article>
                    {% endif %}
                {% endfor %}
            </template>
        </span>
    </section>
    <section id="certif">
        <h2>Mes certifications</h2>
        <div>
            {% for certification in certifications %}
            <article :class="['article', isDarkMode ? 'dark' : 'light']">
                <img src="{{ asset('images/' ~ certification.image) }}" alt="">
                <h3>{{ certification.titre }}</h3>
                <h4>Organisme : {{ certification.organisme }}</h4>
                <p>{{ certification.description }}</p>
            </article>
            {% endfor %}
        </div>
    </section>
    <section id="contact">
        <h2>Comment me contacter ?</h2>
        <div class="contact-icons" x-data="{ selected: null }">
            <!-- Email Icon -->
            <div>
                <i 
                @mouseenter="$el.style.color = '#ff5733'; $el.style.transform = 'translateY(-5px)'" 
                @mouseleave="$el.style.color = ''; $el.style.transform = 'translateY(0)'" 
                @click="selected === 1 ? selected = null : selected = 1;" 
                class="fa-solid fa-envelope"></i>
                <div x-show="selected === 1" class="contact-info" x-transition>
                    <p>maeva.nono@efrei.net</p>
                </div>
            </div>
            
            <!-- Phone Icon -->
            <div>
                <i 
                @mouseenter="$el.style.color = '#28a745'; $el.style.transform = 'translateY(-5px)'" 
                @mouseleave="$el.style.color = ''; $el.style.transform = 'translateY(0)'" 
                @click="selected === 2 ? selected = null : selected = 2" 
                class="fa-solid fa-phone"></i>
                <div x-show="selected === 2" class="contact-info" x-transition>
                    <p>+33 7 59 24 47</p>
                </div>
            </div>

            <!-- LinkedIn Icon -->
            <div>
                <i 
                @mouseenter="$el.style.color = '#007bff'; $el.style.transform = 'translateY(-5px)'" 
                @mouseleave="$el.style.color = ''; $el.style.transform = 'translateY(0)'" 
                @click="selected === 3 ? selected = null : selected = 3" 
                class="fa-brands fa-linkedin"></i>
                <div x-show="selected === 3" class="contact-info" x-transition>
                    <p><a href="https://www.linkedin.com/in/ma%C3%ABva-nono-601a06296/" target ="_blank" >Mon LinkedIn</a></p>
                </div>
            </div>

        <div>
            <i
            @mouseenter="$el.style.color = '#5968BA'; $el.style.transform = 'translateY(-5px)'" 
            @mouseleave="$el.style.color = ''; $el.style.transform = 'translateY(0)'" 
            @click="selected === 4 ? selected = null : selected = 4" 
            class="fa-brands fa-github"></i>
            <div x-show="selected === 4" class="contact-info" x-transition>
                <p><a href="https://github.com/Maeva944" target ="_blank" >Mon GitHub</a></p>
            </div>
        </div>
    </div>
    </section>
</main>
{% endblock %}
